GOOGLE_API_KEY=XXXXXXXXXX
GOOGLE_EMBEDDING_MODEL=gemini-embedding-2-preview
GOOGLE_LLM_MODEL=gemini-3.1-pro-preview
PG_CONNECTION_STRING=postgresql+psycopg://username:password@localhost:5432/your_db_name
